@import "tailwindcss";

@theme inline {
  --color-background: #111318;
  --color-foreground: #F8FAFC;
  
  --color-primary: #facc15;
  --color-primary-hover: #eab308;
  
  --color-card: #1c2025;
  --color-card-border: #2b2f36;
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --radius-card: 16px;
  --radius-btn: 12px;
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
}
